{% extends 'base.html' %}
{% block content %}
<h2 style="text-align:center">{{search | title}}</h2>

<div class="row">
<!--Card 1-->
<div class="col s4">
      <div class="card">
        <div class="card-image">
          <a href="/"><img src="https://www.hillspet.com/content/dam/cp-sites/hills/hills-pet/en_us/exported/dog-care/new-pet-parent/images/golden-retriever-puppy-running-outside.jpg"></a>
        </div>
        <div class="card-content">
          <p>TEST</p>
        </div>
        <div class="card-action">
          <a href="/">VIEW LISTING : Price  = Test PRICE</a>
        </div>
      </div>
    </div>

<!--Card 2-->
<div class="col s4">
      <div class="card">
        <div class="card-image">
          <a href="/"><img src="https://www.hillspet.com/content/dam/cp-sites/hills/hills-pet/en_us/exported/dog-care/new-pet-parent/images/golden-retriever-puppy-running-outside.jpg"></a>
        </div>
        <div class="card-content">
          <p>TEST</p>
        </div>
        <div class="card-action">
          <a href="/">VIEW LISTING : Price  = Test PRICE</a>
        </div>
      </div>
    </div>

<!--Card 3-->
<div class="col s4">
      <div class="card">
        <div class="card-image">
          <a href="/"><img src="https://www.hillspet.com/content/dam/cp-sites/hills/hills-pet/en_us/exported/dog-care/new-pet-parent/images/golden-retriever-puppy-running-outside.jpg"></a>
        </div>
        <div class="card-content">
          <p>TEST</p>
        </div>
        <div class="card-action">
          <a href="/">VIEW LISTING : Price  = Test PRICE</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
